name: Close inactive issues
on:
  workflow_dispatch: {}
permissions:
  issues: write
jobs:
  noResponse:
    runs-on: ubuntu-latest
    steps:
    - uses: lee-dohm/no-response@9bb0a4b5e6a45046f00353d5de7d90fb8bd773bb
      with:
        token: ${{ github.token }}
        closeComment: 'Without additional information we''re not able to resolve this
          issue, so it will be closed at this time. You''re still free to add more
          info and respond to any questions above, though. We''ll reopen the case
          if you do. Thanks for your contribution!

          '
        daysUntilClose: 14
        responseRequiredLabel: waiting for customer response
