name: Bump Dev Version
on:
  workflow_dispatch: {}
permissions:
  contents: write
  pull-requests: write
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  flutter-prep:
    uses: ./.github/workflows/flutter-prep.yaml
  bump-version:
    needs: flutter-prep
    if: ${{ github.repository == 'flutter/devtools' }}
    name: Bump Version
    runs-on: ubuntu-latest
    steps:
    - name: git clone devtools
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        ref: master
    - name: Load Cached Flutter SDK
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
      with:
        path: './tool/flutter-sdk

          '
        key: flutter-sdk-${{ runner.os }}-${{ needs.flutter-prep.outputs.latest_flutter_candidate
          }}
    - name: setup git config
      run: '

        git config user.name "DevTools Workflow Bot"

        git config user.email "dart-devtool-workflow-bot@google.com"

        '
    - name: Bump the Version
      id: version-bump
      run: "set -ex\n\n# Ensure we are using the Dart executable from the Flutter\
        \ SDK\nexport PATH=`pwd`/tool/flutter-sdk/bin/cache/dart-sdk/bin:`pwd`/tool/flutter-sdk/bin:`pwd`/bin:$PATH\n\
        \npushd tool/\ndart pub get\npopd\n\n# Ensure the dt command is available\n\
        export PATH=\"$PATH\":`pwd`/tool/bin\n\nORIGINAL_VERSION=$(dt update-version\
        \ current-version | tail -1)\n\nif [ -z \"$UPDATE_TYPE\" ]; then\n  # If $UPDATE_TYPE\
        \ is not set, then assume it is dev\n  UPDATE_TYPE=\"dev\"\nfi\n\n# If there\
        \ is a major, minor, or patch bump, do it.\n\nif [ \"$UPDATE_TYPE\" == \"\
        patch+dev\" ]; then\n  dt update-version auto --type patch\n  dt update-version\
        \ auto --type dev\nelif [ \"$UPDATE_TYPE\" == \"minor+dev\" ]; then\n  dt\
        \ update-version auto --type minor\n  dt update-version auto --type dev\n\
        elif [ \"$UPDATE_TYPE\" == \"major+dev\" ]; then\n  dt update-version auto\
        \ --type major\n  dt update-version auto --type dev\nelif [ \"$UPDATE_TYPE\"\
        \ == \"dev\" ]; then\n  if ! echo \"$ORIGINAL_VERSION\" | grep -Eq \"\\-dev\\\
        .[0-9]+\" ; then\n    ERROR_DESCRIPTION=\"Doing \\\n  a Dev bump on a release\
        \ version ($ORIGINAL_VERSION) is not supported. \\\n  Ensure that that current\
        \ version has been properly bumped to a '-dev.*' \\\n  pre-release version,\
        \ in order to continue daily dev bumps.\"\n\n    echo \"::error ,title=Cannot\
        \ do a dev bump on a Release Version ($ORIGINAL_VERSION)::$ERROR_DESCRIPTION\"\
        \ \n    exit 1;\n  fi\n  dt update-version auto --type dev\nelse\n  echo \"\
        ERROR: UNEXPECTED UPDATE TYPE: $UPDATE_TYPE\"\n  exit 1\nfi\n\nNEW_VERSION=$(dt\
        \ update-version current-version | tail -1)\n\necho \"COMMIT_MESSAGE=Updating\
        \ from $ORIGINAL_VERSION to $NEW_VERSION\" >> $GITHUB_OUTPUT\n"
      env:
        UPDATE_TYPE: ${{ inputs.updateType }}
    - name: Create the PR
      run: "set -ex\nBRANCH_NAME=\"auto-bump-$(date +%s)\"\n# Stage the file, commit\
        \ and push\ngit checkout -b \"$BRANCH_NAME\"\ngit commit -a -m \"$COMMIT_MESSAGE\"\
        \ngit push -u origin \"$BRANCH_NAME\"\n\nif [ \"$IS_DRAFT\" == \"true\" ];\
        \ then\n  CREATION_FLAGS=\"--draft\"\nfi\n\nPR_URL=$(gh pr create --title\
        \ \"$COMMIT_MESSAGE\" --body \"Automated Version Bump\" $CREATION_FLAGS) \n\
        \n# Change github credentials back to the actions bot.\nGH_TOKEN=\"$ORIGINAL_GH_TOKEN\"\
        \n\ngh pr edit $PR_URL $FLAGS --add-label \"autosubmit\"\n"
      env:
        COMMIT_MESSAGE: ${{ steps.version-bump.outputs.COMMIT_MESSAGE }}
        GH_TOKEN: ${{ secrets.DEVTOOLS_WORKFLOW_BOT_TOKEN }}
        ORIGINAL_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        IS_DRAFT: ${{ inputs.draft == true }}
